<div class="cd-section section-white" id="blogs">

    <!--     *********     BLOGS 1      *********      -->
    <!-- <div class="blog-1" id="blog-1">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <h2 class="title">Latest Blogposts</h2>
                    <br />
                    <div class="card card-plain card-blog">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="card-image">
                                    <img class="img" src="assets/img/sections/stephanie-krist.jpg" />
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h6 class="card-category text-info">Enterprise</h6>
                                    <h3 class="card-title">
                                        <a href="#pablo">The four waves of augmented reality</a>
                                    </h3>
                                    <p class="card-description">
                                        Sharing processing, display and sensors across smartphones and tethered smartglasses gives you two batteries, each powering fewer individual systems. If they’re connected by a cable, this could give a healthy bump to battery life — and… <a href="#pablo"> Read More </a>
                                    </p>
                                    <p class="author">
                                        by <a href="#pablo"><b>Tim Merel</b></a>, 11 hours ago
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card card-plain card-blog">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h6 class="card-category text-danger">
                                        <i class="fa fa-free-code-camp" aria-hidden="true"></i> Trending
                                    </h6>
                                    <h3 class="card-title">
                                        <a href="#pablo">Okoli connects you with tour guides around the world</a>
                                    </h3>
                                    <p class="card-description">
                                        Okoli is a new service by developer Jack Deneut that aims to replace those ugly little cards you find in tourist hotels. The web app, which currently works in Prague, Budapest, Berlin and Paris, lets you reserve a nearly private tour with a professional guid — and… <a href="#pablo"> Read More </a>
                                    </p>
                                    <p class="author">
                                        by <a href="#pablo"><b>John Biggs</b></a>, 3 seconds ago
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="card-image">
                                    <img class="img" src="assets/img/sections/federico-beccari.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="features-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">你还没尝过？</h2>
                    <h3 class="description">SCARLET.X
                        <br> 中国第一支口袋香槟
                    </h3>
                    <br>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="ipad-container">
                        <img src="assets/img/product/1.jpg" />
                    </div>
                </div>

                <div class="col-md-4 offset-1">
                    <div class="info info-horizontal">
                        <div class="icon icon-info">
                            <i class="nc-icon nc-atom" aria-hidden="true"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">
                                <b>SCARLET.X</b>
                            </h4>
                            <p>
                                黑暗中的一束光，在舞池在迷幻的音乐与闪耀的灯光交错中，你一眼就可以认出她。
                                <br> 那个你向往已久的她。
                            </p>
                        </div>
                    </div>

                    <div class="info info-horizontal">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-tie-bow" aria-hidden="true"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">scarlet.X春日新品——挪威的森林</h4>
                            <p>混合植物的氧气感和新鲜草木的灵气。
                                <br>琉璃般的透明，一如你全新的心。
                                <br>一支，释放整个春天的花漾。
                                <br> 只配你独有。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="features-3">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="container">
                            <h2 class="title">客官，别急</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <div class="info info-horizontal">
                                <div class="icon icon-warning">
                                        <i class="nc-icon nc-touch-id"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">步骤壹：扫一扫</h4>
                                    <p>拿起你的手机扫描Scarlet.X瓶身二维码
                                        <br> 填写你的虚拟昵称、换上诱惑的头像
                                        <br> 没有任何真实信息
                                        <br> 进入这个神秘的约x世界
                                    </p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-layout-11"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">步骤贰：加入群P!</h4>
                                    <p>Scarlet.X会根据你的定位显示周边的聊天室
                                        <br> 进入你身处酒吧的聊天室
                                        <br> 就能把酒吧内的帅哥美女都认识一遍啦
                                        <br> 还可以创立属于你自己的聊天室
                                        <br> 进来的都是“知音”
                                        <br> 话不多说 直奔主题</p>

                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <div class="icon icon-success">
                                        <i class="nc-icon nc-layout-11"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">步骤叁：客官，请翻牌</h4>
                                    <p>群撩发现中意的她/他？
                                        <br> 翻牌子进入私聊模式吧！
                                        <br> 耳朵饿了想听情话
                                        <br> 接下来干什么就看你的本事了
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-8 ml-auto">
                    <div class="container">
                        <img src="assets/img/comments/WeChat Image_20180427211157.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--     *********     BLOGS 2      *********      -->

    <div class="blog-2 section section-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <h2 class="title"> 线上已引爆！！ </h2>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card card-blog">
                                <div class="card-image">
                                    <a href="https://mp.weixin.qq.com/s?__biz=MzUzOTY5MjIyNw==&mid=2247483680&idx=1&sn=09bdf80e5cde7a3b8f493da167be7c40&chksm=fac5dc8ccdb2559a5534fc35210fc761ca6232cb47ce67b190ccf18b5e208a6fd385983cef21&mpshare=1&scene=1&srcid=0424mvLVBjAyLGgAOP2evH6P#rd">
                                        <img class="img img-raised" src="assets\img\blog\start.jpg" />
                                    </a>
                                </div>
                                <div class="card-body">
                                    <a href="https://mp.weixin.qq.com/s?__biz=MzUzOTY5MjIyNw==&mid=2247483680&idx=1&sn=09bdf80e5cde7a3b8f493da167be7c40&chksm=fac5dc8ccdb2559a5534fc35210fc761ca6232cb47ce67b190ccf18b5e208a6fd385983cef21&mpshare=1&scene=1&srcid=0424mvLVBjAyLGgAOP2evH6P#rd">
                                        <h5 class="card-category text-info">
                                            <i class="fa fa-free-code-camp" aria-hidden="true"></i> 春风十里，我想灌醉你 </h5>
                                    </a>
                                    <h5 class="card-title">
                                        <a href="https://mp.weixin.qq.com/s?__biz=MzUzOTY5MjIyNw==&mid=2247483680&idx=1&sn=09bdf80e5cde7a3b8f493da167be7c40&chksm=fac5dc8ccdb2559a5534fc35210fc761ca6232cb47ce67b190ccf18b5e208a6fd385983cef21&mpshare=1&scene=1&srcid=0424mvLVBjAyLGgAOP2evH6P#rd">

                                        </a>
                                    </h5>
                                    <p class="card-description">
                                        我要对你做
                                        <br> 春天对樱桃树做的事
                                    </p>
                                    <hr>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card card-blog">
                                <div class="card-image">
                                    <a href="https://mp.weixin.qq.com/s?__biz=MzUzOTY5MjIyNw==&mid=2247483691&idx=1&sn=3076ec5c1764fa15a1ac40c36ca0282a&chksm=fac5dc87cdb25591d526cb733e972fd0665da7ba08fd9de93372966e1dba4505956ef06d1998&mpshare=1&scene=1&srcid=0424X3GVo7l2Klf6K9tPlXwh#rd">
                                        <img class="img img-raised" src="assets\img\product\WeChat Image_20180506041319.jpg" />
                                    </a>
                                </div>
                                <div class="card-body">
                                    <a href="https://mp.weixin.qq.com/s?__biz=MzUzOTY5MjIyNw==&mid=2247483680&idx=1&sn=09bdf80e5cde7a3b8f493da167be7c40&chksm=fac5dc8ccdb2559a5534fc35210fc761ca6232cb47ce67b190ccf18b5e208a6fd385983cef21&mpshare=1&scene=1&srcid=0424mvLVBjAyLGgAOP2evH6P#rd">
                                        <h5 class="card-category text-success">
                                            <i class="fa fa-free-code-camp" aria-hidden="true"></i> 如何套路撩小哥哥
                                        </h5>
                                    </a>
                                    <h5 class="card-title">
                                        <a href="https://mp.weixin.qq.com/s?__biz=MzUzOTY5MjIyNw==&mid=2247483691&idx=1&sn=3076ec5c1764fa15a1ac40c36ca0282a&chksm=fac5dc87cdb25591d526cb733e972fd0665da7ba08fd9de93372966e1dba4505956ef06d1998&mpshare=1&scene=1&srcid=0424X3GVo7l2Klf6K9tPlXwh#rd">
                                        </a>
                                    </h5>
                                    <p class="card-description">
                                        开始的是她
                                        <br> 放不下的却是我
                                    </p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card card-blog">
                                <div class="card-image">
                                    <a href="https://d.xiumi.us/board/v5/278xu/84877248">
                                        <img class="img img-raised" src="assets\img\beauty\photo-1470267826516-96fa10965c57.jpg" />
                                    </a>
                                </div>
                                <div class="card-body">
                                    <a href="https://mp.weixin.qq.com/s?__biz=MzUzOTY5MjIyNw==&mid=2247483680&idx=1&sn=09bdf80e5cde7a3b8f493da167be7c40&chksm=fac5dc8ccdb2559a5534fc35210fc761ca6232cb47ce67b190ccf18b5e208a6fd385983cef21&mpshare=1&scene=1&srcid=0424mvLVBjAyLGgAOP2evH6P#rd">
                                        <h5 class="card-category text-warning">
                                            <i class="fa fa-free-code-camp" aria-hidden="true"></i> 为什么你进入到一半就停了？
                                        </h5>
                                    </a>
                                    <h5 class="card-title">
                                        <a href="https://d.xiumi.us/board/v5/278xu/84877248">

                                        </a>
                                    </h5>
                                    <p class="card-description">
                                        你主动一点
                                        <br/> 我们一定有故事
                                    </p>
                                    <hr>
                                    <br>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card card-blog">
                                <div class="card-image">
                                    <a href="https://d.xiumi.us/board/v5/278xu/84685963">
                                        <img class="img img-raised" src="assets\img\blog\WeChat Image_20180427212148.jpg" />
                                    </a>
                                </div>

                                <div class="card-body">
                                    <a href="https://mp.weixin.qq.com/s?__biz=MzUzOTY5MjIyNw==&mid=2247483680&idx=1&sn=09bdf80e5cde7a3b8f493da167be7c40&chksm=fac5dc8ccdb2559a5534fc35210fc761ca6232cb47ce67b190ccf18b5e208a6fd385983cef21&mpshare=1&scene=1&srcid=0424mvLVBjAyLGgAOP2evH6P#rd">
                                        <h5 class="card-category text-danger">
                                            <i class="fa fa-free-code-camp" aria-hidden="true"></i> 我把我种在你身体里，然后一起躲进scarlet.X里
                                        </h5>
                                    </a>
                                    <h5 class="card-title">
                                        <a href="https://mp.weixin.qq.com/s?__biz=MzUzOTY5MjIyNw==&mid=2247483680&idx=1&sn=09bdf80e5cde7a3b8f493da167be7c40&chksm=fac5dc8ccdb2559a5534fc35210fc761ca6232cb47ce67b190ccf18b5e208a6fd385983cef21&mpshare=1&scene=1&srcid=0424mvLVBjAyLGgAOP2evH6P#rd">
                                            SCARLET.X
                                            <br> 中国第一支口袋香槟
                                            <hr> ⚢　⚣　⚤　⚥　⚧
                                        </a>
                                    </h5>
                                    <p class="card-description">

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--     *********     BLOGS 3      *********      -->
    <!-- <div class="blog-3">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <h2 class="title">Latest Blogposts 3</h2>
                    <br />
                    <div class="card card-plain card-blog">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card-image">
                                    <img class="img" src="assets/img/sections/jeff-sheldon.jpg" />
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h6 class="card-category text-info">Enterprise</h6>
                                    <h3 class="card-title">
                                        <a href="#pablo">SoundCloud says it’s going to survive, but how?</a>
                                    </h3>
                                    <p class="card-description">
                                        No matter what happens — funding versus acquisition versus who knows what — Ljung says SoundCloud is not going away “anytime
                                        in the foreseeable future.” I hope that’s true, but I can’t help but feel a bit skeptical.
                                        — and…
                                        <a href="#pablo"> Read More </a>
                                    </p>
                                    <p class="author">
                                        by
                                        <a href="#pablo">
                                            <b>Megan Rose Dickey</b>
                                        </a>, 11 days ago
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-plain card-blog">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h6 class="card-category text-danger">
                                        <i class="fa fa-free-code-camp" aria-hidden="true"></i> Trending
                                    </h6>
                                    <h3 class="card-title">
                                        <a href="#pablo">Uber acqui-hires social app studio Swipe Labs</a>
                                    </h3>
                                    <p class="card-description">
                                        These issues might be making it a bit harder for Uber to hire right now in the competitive Silicon Valley job market. Acqui-hiring
                                        companies like it’s doing here with Swipe Labs lets it roll up a bunch of good talent
                                        — and…
                                        <a href="#pablo"> Read More </a>
                                    </p>
                                    <p class="author">
                                        by
                                        <a href="#pablo">
                                            <b>Josh Constine</b>
                                        </a>, 2 days ago
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card-image">
                                    <a href="#pablo">
                                        <img class="img" src="assets/img/sections/rawpixel-comm.jpg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-plain card-blog">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card-image">
                                    <a href="#pablo">
                                        <img class="img" src="assets/img/sections/jeremy-yap.jpg" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h6 class="card-category text-success">
                                        Startups
                                    </h6>
                                    <h3 class="card-title">
                                        <a href="#pablo">HBO and Netflix lead this year’s nominations</a>
                                    </h3>
                                    <p class="card-description">
                                        Streaming services once again top the list of this year’s Emmy nominations – another indicator of the shift in how today’s
                                        consumers are watching TV. HBO, which has been available.
                                        <a
                                            href="#pablo"> Read More </a>
                                    </p>
                                    <p class="author">
                                        by
                                        <a href="#pablo">
                                            <b>Sarah Perez</b>
                                        </a>, 14 Jul 2017
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


    <!--     *********     BLOGS 4      *********      -->
    <!-- <div class="blog-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title text-center">Latest Blogposts 4</h2>
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-plain card-blog text-center">
                        <div class="card-image">
                            <a href="#pablo">
                                <img class="img img-raised" src="assets\img\products\5S4A7839.JPG" />
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-category text-warning">Travel</h6>
                            <h3 class="card-title">
                                <a href="#pablo">Learning different cultures through travel</a>
                            </h3>
                            <p class="card-description">
                                A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole
                                heart. I am alone, and feel the charm of existence in this spot.
                            </p>
                            <br/>
                            <a href="#pablo" class="btn btn-warning btn-round"> Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-plain card-blog text-center">
                        <div class="card-image">
                            <a href="#pablo">
                                <img class="img img-raised" src="assets/img/sections/rodrigo-ardilha.jpg" />
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-category text-info">Travel</h6>
                            <h3 class="card-title">
                                <a href="#pablo">Kick-Ass ways to disappear like a Ninja!</a>
                            </h3>
                            <p class="card-description">
                                In the end, the judge ruled that Levandowski could be brought in and examined, but that each question asked to him would
                                be vetted in advance and should have some basis in evidence.
                            </p>
                            <br/>
                            <a href="#pablo" class="btn btn-primary btn-round"> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-plain card-blog text-center">
                        <div class="card-image">
                            <a href="#pablo">
                                <img class="img img-raised" src="assets/img/sections/federico-beccari.jpg" />
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-category text-danger">Lifestyle</h6>
                            <h3 class="card-title">
                                <a href="#pablo">We will breathe clean air and exercise</a>
                            </h3>
                            <p class="card-description">
                                Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye
                                I love Rick Owens’ bed design but the back is too high for the beams and angle of the ceiling...
                            </p>
                            <br/>
                            <a href="#pablo" class="btn btn-danger btn-round"> Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-plain card-blog text-center">
                        <div class="card-image">
                            <a href="#pablo">
                                <img class="img img-raised" src="assets/img/sections/pedro-lastra.jpg" />
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-category text-success">Best Seller</h6>
                            <h3 class="card-title">
                                <a href="#pablo">Readers Pick of The Month</a>
                            </h3>
                            <p class="card-description">
                                “Raising equity is very expensive” In essence, it lets new consumer businesses apply to raise funding on its platform, and
                                gives investors a new way to find and back those tricks to finance their growing businesses.
                            </p>
                            <br/>
                            <a href="#pablo" class="btn btn-success btn-round"> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


    <!--     *********     BLOGS 4      *********      -->
    <!-- 
    <div class="blog-5">
        <div class="container">
            <h2 class="title text-center">Your Latest Blogpost 5</h2>
            <div class="row">
                <div class="col-md-7">
                    <div class="card" data-background="image" style="background-image: url('assets/img/sections/uriel-soberanes.jpg')">
                        <div class="card-body">
                            <h6 class="card-category">
                                <i class="fa fa-newspaper-o"></i> Lifestyle</h6>
                            <a href="#pablo">
                                <h3 class="card-title">Twenty-Something Travel - Virtual Wayfarer</h3>
                            </a>
                            <p class="card-description">
                                As happens in most of these hearings so far, that argument led to a back-and-forth between Uber and Waymo’s lawyers over
                                the pre-trial discovery...
                            </p>
                            <div class="card-footer">
                                <div class="author">
                                    <a href="#pablo">
                                        <img src="assets/img/faces/joe-gardner-2.jpg" alt="..." class="avatar img-raised">
                                        <span>Lynne Barrett</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card" data-background="image" style="background-image: url('assets/img/sections/forest-bg.jpg')">
                        <div class="card-body">
                            <h6 class="card-category">
                                <i class="fa fa-newspaper-o"></i> Media</h6>
                            <a href="#pablo">
                                <h3 class="card-title">The aesthetic quality of a product</h3>
                            </a>
                            <p class="card-description">
                                It clarifies the product’s structure. Better still, it can make the product clearly express its function by making use of
                                the user’s intuition.
                            </p>
                            <div class="card-footer">
                                <div class="author">
                                    <a href="#pablo">
                                        <img src="assets/img/faces/erik-lucatero-2.jpg" alt="..." class="avatar img-raised">
                                        <span>Eric J Barnes</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card" data-background="image" style="background-image: url('assets/img/sections/pavel-kosov.jpg')">
                        <div class="card-body">
                            <h6 class="card-category">
                                <i class="fa fa-newspaper-o"></i>Design</h6>
                            <a href="#pablo">
                                <h3 class="card-title">“Good Design”</h3>
                            </a>
                            <p class="card-description">
                                Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Jay-z...
                            </p>
                            <div class="card-footer">
                                <div class="author">
                                    <a href="#pablo">
                                        <img src="assets/img/faces/kaci-baum-2.jpg" alt="..." class="avatar img-raised">
                                        <span>Patricia Beatty</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card" data-background="image" style="background-image: url('assets/img/sections/ilya-yakover.jpg')">
                        <div class="card-body">
                            <h6 class="card-category">
                                <i class="fa fa-newspaper-o"></i> Development</h6>
                            <a href="#pablo">
                                <h3 class="card-title">In need of a good development</h3>
                            </a>
                            <p class="card-description">
                                Speed up your development time or get inspired with the large number of example pages. You can jump start your development
                                with our pre-built example pages.
                            </p>
                            <div class="card-footer">
                                <div class="author">
                                    <a href="#pablo">
                                        <img src="assets/img/faces/clem-onojeghuo-3.jpg" alt="..." class="avatar img-raised">
                                        <span>Robert Brandon</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" data-background="image" style="background-image: url('assets/img/sections/vincent-versluis.jpg')">
                        <div class="card-body">
                            <h6 class="card-category">
                                <i class="fa fa-newspaper-o"></i> Technology</h6>
                            <a href="#pablo">
                                <h3 class="card-title">A Little Adrift</h3>
                            </a>
                            <p class="card-description">
                                But from the perspective of founders, there’s bound to be some confusion. In an ideal world we will see a meeting of the
                                minds
                            </p>
                            <div class="card-footer">
                                <div class="author">
                                    <a href="#pablo">
                                        <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="..." class="avatar img-raised">
                                        <span>Ayo Michael</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>