<div class="cd-section section-white" id="contact-us">

    <!--     *********    CONTACT US 1     *********      -->
    <!-- <div class="contactus-1 section-image" style="background-image: url('assets/img/sections/soroush-karimi.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="card card-contact no-transition">
                        <h3 class="card-title text-center">Contact Us</h3>
                        <div class="row">
                            <div class="col-md-5 ml-auto">
                                <div class="card-body">
                                    <div class="info info-horizontal">
                                        <div class="icon icon-info">
                                            <i class="nc-icon nc-pin-3" aria-hidden="true"></i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Find us at the office</h4>
                                            <p> Bld Mihail Kogalniceanu, nr. 8,<br>
                                                7652 Bucharest,<br>
                                                Romania
                                            </p>
                                        </div>
                                    </div>
                                    <div class="info info-horizontal">
                                        <div class="icon icon-danger">
                                            <i class="nc-icon nc-badge" aria-hidden="true"></i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Give us a ring</h4>
                                            <p> Michael Jordan<br>
                                                +40 762 321 762<br>
                                                Mon - Fri, 8:00-22:00
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 mr-auto">
                                <form role="form" id="contact-form" method="post">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">First name</label>
                                                    <input type="text" name="name" class="form-control" placeholder="First Name">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Last name</label>
                                                    <input type="text" name="name" class="form-control" placeholder="Last Name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Email address</label>
                                            <input type="email" name="email" class="form-control" placeholder="Email"/>
                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Your message</label>
                                            <textarea name="message" class="form-control" id="message" rows="6" placeholder="Message"></textarea>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="" checked>
                                                        I'm not a robot !
                                                        <span class="form-check-sign"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <button type="submit" class="btn btn-primary pull-right">Send Message</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


    <!--     *********    CONTACT US 2     *********      -->
    <!-- 
    <div class="contactus-2">
        <div id="contactUsMap2" class="big-map">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [styles]="styles">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
        </div>
        
        <div class="container">
            <div class="col-md-6">
                <div class="card card-contact card-raised">
                    <div class="card-header header-raised header-primary text-center">
                        <h4 class="card-title">Contact Us</h4>
                    </div>
                    <form role="form" id="contact-form" method="post">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="info info-horizontal">
                                        <div class="icon icon-info">
                                            <i class="nc-icon nc-badge" aria-hidden="true"></i>
                                        </div>
                                        <div class="description">
                                            <h5 class="info-title">Give us a call</h5>
                                            <p> Michael Jordan<br>
                                                +40 762 321 762<br>
                                                Mon - Fri, 8:00-22:00
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info info-horizontal">
                                        <div class="icon icon-danger">
                                            <i class="nc-icon nc-pin-3" aria-hidden="true"></i>
                                        </div>
                                        <div class="description">
                                            <h5 class="info-title">Find us at the office</h5>
                                            <p> Bld Mihail Kogalniceanu<br>
                                                7652 Bucharest
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Full Name</label>
                                        <input type="text" name="name" class="form-control" placeholder="Full name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Email address</label>
                                        <input type="email" name="email" class="form-control" placeholder="Email"/>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Your message</label>
                                <textarea name="message" class="form-control" id="message" rows="6" placeholder="Message"></textarea>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="" checked>
                                            I'm not a robot !
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-rose pull-right">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> -->

    <div class="page-header page-header-small" style=" background-image: url('./assets/img/Profile/header.jpg');">

        <div class="content-center">
            <div class="container">
                <h1>Hey</h1>
                <h2>我想灌醉你</h2>
            </div>
        </div>
    </div>


    <div class="wrapper">
        <div class="main">
            <div class="section">
                <div class="container">
                    <!-- <h3 class="title-uppercase">
                        <i class="fa fa-heart heart"></i>&nbsp; ##热血青年##</h3>
                    <br>
                    <br>
                    <h5>Sweetness中国的伙伴与世界各地的伙伴一样热情、真诚、体贴、博学、充满激情。他们热爱Sweetness文化，积极参与培训，将Sweetness驰名世界的优质服务带到中国。他们是Sweetness与顾客之间的桥梁，也是Sweetness品牌价值的载体和体现。正是这些伙伴以他们的热情和专业，在为顾客们提供一流的服务的同时，将Sweetness的文化和精神内涵传递给我们的顾客。</h5>
                    <br> -->

                    <h2 class="text-center creators">SCARLET.X</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-profile card-plain">
                                <div class="card-body">
                                    <div class="card-avatar">
                                        <a href="#avatar">
                                            <img src="./assets/img/Profile/aboutus.png" alt="...">
                                        </a>
                                    </div>
                                    <h3><b>商务合作：</b></h3>
                                    <h3 class="text-center">
                                       <b>E-mail:</b>  faye_wang@outlook.com 
                                        <br><b>微信：</b>wangfei16877
                                        <br><b>TEL:</b>18811877727
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="blog-4">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 ml-auto mr-auto">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card card-plain card-blog text-center">
                                        <div class="card-image">
                                            <a href="#pablo">
                                                <img class="img img-raised" src="./assets/img/Profile/aboutus2.jpg" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card card-plain card-blog text-center">
                                        <div class="card-image">
                                            <a href="#pablo">
                                                <img class="img img-raised" src="./assets/img/Profile/1526626323(1).jpg" />
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <h3 class="card-category text-info">
                                                扫一扫
                                                <br> 一路向西
                                                <br>
                                                春风十里，我想灌醉你</h3>
                                            <h3 class="card-title">
                                            </h3>
                                            <h4 class="card-description">
                                                期待一场波涛暗涌的互撩
                                            </h4>
                                            <br/>
                                            <a href="#pablo" class="btn btn-primary btn-round btn-lg">撩！</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer footer-black footer-big">
        <div class="container">
            <div class="row">
                <div class="col-md-4  col-sm-4 col-12 ml-auto mr-auto">
                    <div class="card-image">
                        <img class="img-rounded img-responsive" src="./assets/img/Profile/icon.jpg" alt="...">
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-12 ml-auto mr-auto">


                    <hr />
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-4">
                            <div class="links">
                                <ul class="uppercase-links stacked-links">
                                    <li>
                                        <a [routerLink]="['/sections']" fragment="headers">
                                            Home
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-4">
                            <div class="links">
                                <ul class="uppercase-links stacked-links">
                                    <li>
                                        <a [routerLink]="['/sections']" fragment="contactus">
                                            Contact Us
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-4">
                            <div class="links">
                                <ul class="uppercase-links stacked-links">
                                    <li>
                                        <a href="#paper-kit">
                                            Portfolio
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="copyright">
                        <div class="pull-left">
                            &copy; {{data | date: 'yyyy'}} SCARLET.X
                        </div>
                        <div class="links pull-right">
                            <ul>
                                <li>
                                    <a href="#paper-kit">
                                        Company Policy
                                    </a>
                                </li>
                                |
                                <li>
                                    <a href="#paper-kit">
                                        Terms
                                    </a>
                                </li>
                                |
                                <li>
                                    <a href="#paper-kit">
                                        Privacy
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>
</div>